
body {
  background-color: black;
  color: lime;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 0;
  padding: 0;
}

canvas {
  background-color: #111;
  display: block;
  margin: 0 auto;
  border: 2px solid lime;
  touch-action: manipulation;
}
